

    <!-- Error modal -->
    <div id="err-modal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h2 class="ik-color-red">Error</h2>
                </div>
                <div class="col-6 text-right">
                    <a href="#" class="ik-err-close"><i class="fas fa-times-circle ik-color-red"></i></a>
                </div>
                <div class="col-12">
                    <h4>Somthing get wrong! Please try later!</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- Start Slider -->
    <app-slider></app-slider>
    <!-- End -->
    <!-- Start main -->
    <main>
        <section id="services" class="my-5">
            <div class="container mb-5">
                <div class="row">
                    <div class="col-12">
                        <h2 class="ik-color-dark-blue">What we have to offer</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <app-service-section></app-service-section>
            </div>
        </section>
        <section id="brands">
            <app-brand-section></app-brand-section>
        </section>

    </main>
    <!-- End -->
 
